<div>

  <div id="current-question" ng-show="currentQuestion">
    <div class="row heading">
      <div class="col-md-12">
        <div class="question-number">
          Question {{questionIndex + 1}}
        </div>
      </div>
      <div class="heading">
<!--
        <div class="score col-md-3 pull-right">
          Current score: {{totalCorrect}} / {{questions.length}}
          ({{score}}%)
        </div>
-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="question" ng-bind-html="currentQuestion.question">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="answer-block">
          <div ng-show="currentQuestion.type === 'jscode'"
               class="code-question">
            <textarea ng-model="currentQuestion.answer"
                      ng-readonly="currentQuestion.recorded"
                      ng-class="{readonly: currentQuestion.recorded}"
                      class="code-block"></textarea>
          </div>

          <div ng-show="currentQuestion.type === 'choice'"
               class="multiple-choice-question">
            <div class="answers">
              <div ng-repeat="a in currentQuestion.answers">
                <input type="radio" ng-model="currentQuestion.answer"
                       value="{{$index}}" class="css-checkbox"
                       id="radio-{{$index}}"
                       ng-disabled="currentQuestion.recorded">
                <label for="radio-{{$index}}" class="css-label"
                       ng-bind-html="a.answer"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="answer-buttons">
        <div class="col-md-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button ng-click="recordAnswer()"
                      ng-disabled="!currentQuestion.answer"
                      ng-show="!currentQuestion.recorded"
                      class="btn btn-success btn-lg">
                Submit
              </button>
            </div>
            <div class="btn-group">
              <button ng-click="next()"
                      ng-disabled="!currentQuestion.answer"
                      ng-show="currentQuestion.recorded"
                      class="btn btn-primary btn-lg">
                Next
              </button>
            </div>
            <div class="btn-group">
              <button ng-click="testCodeAnswer(currentQuestion)"
                      ng-show="currentQuestion.type == 'jscode'"
                      ng-disabled="(currentQuestion.triesLeft() === 0) || (currentQuestion.recorded)"
                      class="try-button btn btn-primary btn-lg">
                Test Your Answer
                (<span ng-bind="currentQuestion.triesLeft()"></span>
                tries left)
              </button>
            </div>
            <div class="btn-group">
              <div ng-show="showCorrectAnswerStatus()"
                   class="answer-status correct">
                Correct!
              </div>
              <div ng-show="showIncorrectAnswerStatus()"
                   class="answer-status incorrect">
                Incorrect
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
