@baseFontSize: 20px;

html {
  height: 100%;
}

body {
  font-family:      Helvetica, Arial, Verdana, sans-serif;
  font-size:        @baseFontSize;
  margin:           0;
  min-height:       100%;
  background-color: @borderBgColor;

  // Body height: 100%;
  // See http://stackoverflow.com/a/20310218/53495

  position:    absolute;
  top:         0;
  bottom:      0;
  right:       0;
  left:        0;
}

@borderBgColor:    #192932;
@headerHeight:     100px;
@buttonBg:         #4479ba;
@buttonDisabledBg: lighten(@buttonBg, 20%);
@scoreBoxBgColor:  @buttonDisabledBg;

#outer {
  background-color: transparent; //@borderBgColor;
  height:           100%;

  #logo {
    vertical-align: middle;
  }

  #header {
    h1 {
      text-align: right;
      color:      white;
    }
  }

  #footer {
  }

  #content {
    padding-top:      30px;
    height:           100% !important;
    background-color: transparent;

    #content-inner {
      // NOTE: For this height to "take", all parent elements' heights must
      // also be set.
      height:           100% !important;
      background-color: white;
      padding:          30px;
    }
    .incorrect {
      color: red;
    }

    .correct {
      color: green;
    }

    .answer-buttons {
      margin-top: 20px;
    }

    #current-question {

      .heading {
        display:       block;
        margin-bottom: 20px;
        height:        50px;

        .score {
          background-color: @scoreBoxBgColor;
          padding:          10px;
          border-radius:    5px 5px 5px 5px;
          color:            black;
          font-weight:      bold;
        }

        .question-number {
          background-color: @scoreBoxBgColor;
          padding:          10px;
          border-radius:    5px 5px 5px 5px;
          color:            black;
          font-weight:      bold;
        }
      }

      .answer-status {
        margin-top: 10px;
      }

      .question {
        font-weight:   bold;
        margin-bottom: 40px;
      }

      pre {
        font-size: @baseFontSize - 2px !important;
      }

      .multiple-choice-question {
        .answers {
        }

        label {
          font-weight: normal;
        }

        input[type="radio"] {
          margin-right: 10px;
          margin-left: 100px;
        }
      }

      .code-question {

        .try-button {
          display: block;
          margin-top: 20px;
        }

        .try-result {
          margin-top: 20px;
        }

        textarea {
          width: 600px;
          height: 200px;
          font-family: monospace;

          &.readonly {
            background-color: #dedede;
          }
        }
      }
    }

    #wrap-up {
      #score {
        font-weight: bold;
      }

      .admonition {
        margin-top: 1em;
      }

      #incorrect-answers {
        margin-top: 20px;

        .heading {
          font-weight: bold;
        }

        .incorrect-answer {
          margin-top: 20px;

          .correct-answer-label {
            color: green;
          }

          .incorrect-answer-label {
            color: red;
          }
        }
      }
    }
  }
}

.next-button {
  float: right;
}

.buttonStyle {
  padding:       10px 15px;
  background:    @buttonBg;
  color:         white;
  border:        1px solid @buttonBg;
  border-radius: 5px 5px 5px 5px;
  font-size:     24px;

  &:disabled {
    background: @buttonDisabledBg;
    color:      #eeeeee;
    border:     1px solid @buttonDisabledBg;
  }
}
